name: Docker Image CI

on:
  push:
    branches: [ master ]

env:
  DOCKER_REGISTRY: ${{secrets.DOCKER_REGISTRY}}
  DOCKER_USERNAME: ${{secrets.DOCKER_USERNAME}}
  DOCKER_ACCESS_TOKEN: ${{secrets.DOCKER_ACCESS_TOKEN}}
  GITHUB_CONTAINER_REGISTRY: ghcr.io

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker Image
      run: make build
    - name: Login to DockerHub
      run: echo -n $DOCKER_ACCESS_TOKEN | docker login $DOCKER_REGISTRY -u $DOCKER_USERNAME --password-stdin 
    - name: Push Image to DockerHub
      run: docker push thehale/python-poetry:latest
    - name: Tag the image for the GitHub Container Registry
      run: docker tag thehale/python-poetry:latest ghcr.io/thehale/python-poetry:latest
    - name: Login to GitHub Container Registry
      run: echo -n ${{ secrets.GITHUB_TOKEN }} | docker login $GITHUB_CONTAINER_REGISTRY -u ${{ github.actor }} --password-stdin 
    - name: Push Image to GitHub Container Registry
      run: docker push ghcr.io/thehale/python-poetry:latest


  build-versions:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python_image_tag: ["3.10-slim", "3.11-slim", "3.12-slim", "3.13-slim", "3.14-slim"]
        poetry_version: ["1.8.5", "2.3.0"]

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker Image
      run: >
        make build-version \
          POETRY_VERSION=${{ matrix.poetry_version }} \
          PYTHON_IMAGE_TAG=${{ matrix.python_image_tag }}
    - name: Login to DockerHub
      run: echo -n $DOCKER_ACCESS_TOKEN | docker login $DOCKER_REGISTRY -u $DOCKER_USERNAME --password-stdin 
    - name: Push Image to DockerHub
      run: docker push thehale/python-poetry:${{ matrix.poetry_version }}-py${{ matrix.python_image_tag }}
    - name: Login to GitHub Container Registry
      run: echo -n ${{ secrets.GITHUB_TOKEN }} | docker login $GITHUB_CONTAINER_REGISTRY -u ${{ github.actor }} --password-stdin
    - name: Tag the image for the GitHub Container Registry
      run: docker tag thehale/python-poetry:${{ matrix.poetry_version }}-py${{ matrix.python_image_tag }} ghcr.io/thehale/python-poetry:${{ matrix.poetry_version }}-py${{ matrix.python_image_tag }}
    - name: Push Image to GitHub Container Registry
      run: docker push ghcr.io/thehale/python-poetry:${{ matrix.poetry_version }}-py${{ matrix.python_image_tag }}
